{% extends "layouts/unbranded.html" %}

{% block pageTitle %}
  Do you live in a private rented house or flat in England or Wales? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "rentingEnglandOrWales",
          fieldset: {
            legend: {
              text: "Do you live in a private rented house or flat in England or Wales?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          formGroup: {
            beforeInputs: {
              html: "<p>This does not include council or housing association accommodation.</p><div class='govuk-hint'>Select one option</div>"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }  
          ]
        }) }}

        {{ govukButton({
        text: "Continue",
        classes: "alb-button"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
