{% extends "layouts/unbranded.html" %}

{% block pageTitle %}
  Landlord legal issues – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "landlordLegalIssues",
          fieldset: {
            legend: {
              text: "Landlord legal issues",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "england",
              text: "Unlicensed HMO",
              label: {
                classes: "hello-world"
              }
            },
            {
              value: "scotland",
              text: "Unlicensed landlord in LA area with selective landlord licensing"
            },
            {
              value: "wales",
              text: "Illegal subletting"
            },
            {
              value: "northern-ireland",
              text: "Not enrolled in PRS database or redress scheme"
            },
            {
              value: "northern-ireland",
              text: "Prohibited from renting under terms of lease"
            }  
          ]
        }) }}
              {{ govukButton({
                text: "Continue",
                classes: "alb-button"
              }) }}
      </form>
    </div>
  </div>

{% endblock %}
