{% extends "layouts/unbranded.html" %}

{% block pageTitle %}
  Your rights and your landlord's responsibilities - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your rights and your landlord's responsibilities
      </h1>

      <p class="govuk-body-l">Check your tenancy agreement to see if your problem is specifically covered. You can also see what your landlord's responsibilities are according to the law.</p>

      <p>You said you had a problem with the following areas.</p>

      <h2 class="govuk-heading-m">Temperature extremes</h2>

      <p>Your landlord is responsible for making sure that living conditions are not too hot or too cold. This includes working boilers and radiators. See more about your rights as a tenant in the <a href="https://www.gov.uk/government/publications/homes-fitness-for-human-habitation-act-2018/guide-for-tenants-homes-fitness-for-human-habitation-act-2018">Guide for tenants: Homes (Fitness for Human Habitation) Act 2018</a>.</p>

      <h2 class="govuk-heading-m">More information about landlord responsibilities</h2>

      <p>Find out more about what you and your landlord are responsible for on the <a href="https://www.citizensadvice.org.uk/housing/repairs-and-housing/repairs-and-housing-conditions/getting-your-landlord-to-do-repairs/getting-repairs-done-if-youre-renting-privately-ew/">Citizens advice website</a> or the <a href="https://england.shelter.org.uk/housing_advice/repairs/landlord_and_tenant_responsibilities_for_repairs">Shelter website</a>.</p>

      <h2 class="govuk-heading-m">Take pictures and keep a record</h2>

      <p>It may help to take pictures of the problem, especially if it changes. Keep copies of all letters, text messages or emails. Note the date and time of any phone calls.</p>

      <p class="govuk-body govuk-!-font-weight-bold">Go <a href="next-steps">back to the ‘What to do now’</a>  page.</p>


    </div>
  </div>

{% endblock %}
