{% extends "layouts/main.html" %}

{% block pageTitle %}
  Points of touch – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukRadios({
          name: "haveYouRaisedIssueInWritingWithLandlord",
          fieldset: {
            legend: {
              text: "Did you raise this issue with your landlord in writing?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This can be a letter, email or text message"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "dateRaisedIssue",
          namePrefix: "dateRaisedIssue",
          fieldset: {
            legend: {
              text: "When did you first raise this issue with your landlord?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2024"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}