{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Resolve a private rental dispute</h1>
        <h3 class="govuk-!-text-align-right"><a href="index">Topics</a></h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
          <li class="govuk-!-font-size-36">A</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">B</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">C</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">D</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">E</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">F</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">G</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">H</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">I</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">J</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">K</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">L</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">M</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">N</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">O</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">P</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Q</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">R</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">S</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">T</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">U</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">V</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">W</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">X</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Y</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Z</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">Featured</h3>
        <h3 class="govuk-!-margin-bottom-2"><a href="#">Changes to private renting legislation</a></h3>
        <p>The UK private renting sector is undergoing significant changes with the Renters' Reform Bill.</p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
