{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Resolve a private rental dispute</h1>
        <h3 class="govuk-!-text-align-right"><a href="index" class="govuk-link govuk-link--no-visited-state">Sections</a></h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-l">A - Z listing</h3>
        <ul class="govuk-list">
          <li class="govuk-!-font-size-36">A
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Access issues</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">B
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="next-steps" class="govuk-link govuk-link--no-visited-state">Boiler issues affecting hot water or heating</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Broken stairs, floorboards, or other shared common areas</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">C
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Character discrimination</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Cutting off utilities</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">D
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="damp-and-mould" class="govuk-link govuk-link--no-visited-state">Damp and mould</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Delays in returning deposit</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Deposit not returned</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Doors or windows not opening or closing</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Due to rent arrears</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">E
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Electricity or wiring</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Entering property without permission</a></li>
              <li><a href="eviction-due-to-rent-arrears" class="govuk-link govuk-link--no-visited-state">Eviction due to rent arrears</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Excessive cold or heat</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Excessive deductions from deposit</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">External plumbing and leaks</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">External structural repairs</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">F
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Faulty or missing appliances</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Fire related</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">G
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Gas, such as the smell of gas or a gas leak</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">H
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="harassment-from-landlord" class="govuk-link govuk-link--no-visited-state">Harassment from landlord</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">I
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Illegal subletting</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Improper notice</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Internal structural repairs</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">J</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">K</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">L
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Landlord opening or withholding post</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Leaks from plumbing or appliances</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">M</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">N
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Noise complaints from other tenants</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Not enrolled in PRS database or redress scheme</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">O
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Other issues, such as a dripping tap or internal door not closing</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">P
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Pest infestation</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Poor or lack of communication</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Prohibited from renting under terms of lease</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Q</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">R
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Removing or interfering with belongings and property</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Rental discrimination</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Retaliatory evictions</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">S
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Structural collapse or failing elements</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">T
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Threat of eviction as coercion</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Toilet not working</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">U
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Unfair or excessive deposit amounts</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Unfounded or illicit demands</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Unlicensed HMO</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Unlicensed landlord in LA area with selective landlord licensing</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Unprotected deposit</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">V
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Violence or intimidating language from landlord</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">W
            <ul class="govuk-list govuk-list--spaced">
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Water coming in from outside</a></li>
              <li><a href="#" class="govuk-link govuk-link--no-visited-state">Water supply</a></li>
            </ul>
          </li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">X</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Y</li>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="govuk-!-font-size-36">Z</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">Featured</h3>
        <h3 class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Changes to private renting legislation</a></h3>
        <p>The UK private renting sector is undergoing significant changes with the Renters' Reform Bill.</p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
