{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "Maintenance and repairs to your property ",
      href: "maintenance-and-repairs"
    },
    {
      text: "Damp and mould",
      href: "#"
    }
  ]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Damp and mould
      </h1>

      <p class="govuk-body-l">If you have a problem with damp and mould, you must tell your landlord and ideally put your concerns in writing.</p>

      <p>Keep a record of all conversations, emails and messages.</p>

      <p>Government guidance says that landlords should take damp and mould seriously.</p>

      <p>Your landlord must try to find out what's causing the problem.</p>

      <p>You should give your landlord access to your home to check the issue. </p>

      <p>They can contact you to agree a suitable date and time to visit.</p>

      <p>If your landlord cannot identify the cause of the problem, they should ask a damp surveyor. You do not have to pay for this.</p>

      <h3 class="govuk-heading-m">Preventing damp and mould where possible</h3>

      <p>It’s important to ventilate your property, especially after activities like cooking or showering. If you can keep a consistent, low-level background heat, this can also help prevent condensation.</p> 

      <p>For more details and advice, visit the Shelter website’s section on <a href="https://england.shelter.org.uk/housing_advice/repairs/damp_and_mould_in_rented_homes">damp and mould</a>. </p>

    </div>
  </div>

{% endblock %}
