{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Getting help with a private rental</h1>
        <h3 class="govuk-!-text-align-right"><a href="a-z" class="govuk-link govuk-link--no-visited-state">A - Z listing</a></h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-l">Sections</h3>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="gem-c-cards">
          <ul class="gem-c-cards__list gem-c-cards__list--one-column">
              <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles govuk-link--no-visited-state" data-ga4-link="#" href="tenants" class="govuk-link govuk-link--no-visited-state">Help for tenants</a>
                  </h3><p class="govuk-body gem-c-cards__description">Includes advice and help on eviction, deposits, arrears, tenancy fees, rent increases or keeping a pet.</p>
                </div>
              </li>
              <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles govuk-link--no-visited-state" data-ga4-link="#" href="#" class="govuk-link govuk-link--no-visited-state">Help for private landlords</a>
                  </h3><p class="govuk-body gem-c-cards__description">Includes making repairs, health and safety, rent increases and changing regulated tenancies.</p>
                </div>
              </li>
              <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles govuk-link--no-visited-state" data-ga4-link="#" href="maintenance-and-repairs" class="govuk-link govuk-link--no-visited-state">Maintenance and repairs to your property</a>
                  </h3><p class="govuk-body gem-c-cards__description">Includes gas, electricity, boiler or heating issues, damp or mould, pest infestation, and plumbing or leaks.</p>
                </div>
              </li>
              <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper">
                  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
                    <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles govuk-link--no-visited-state" data-ga4-link="#" href="anti-social-behaviour" >Dealing with anti-social behaviour</a>
                  </h3><p class="govuk-body gem-c-cards__description">Includes violence or intimidating language, harassment, discrimination and noise complaints.</p>
                </div>
              </li>
            </ul>
      </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">Featured</h3>
        <h3 class="govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Changes to private renting legislation</a></h3>
        <p>The UK private renting sector is undergoing significant changes with the Renters' Reform Bill.</p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
