//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "alb";
@import "directory";

.call-to-action {
  background-color: #f3f2f1;
  margin: 2em 0;
  padding: 2em;
}


.loading-spinner {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-width: 12px;
  border-style: solid;
  border-color: rgb(29, 112, 184) rgb(222, 224, 226) rgb(222, 224, 226);
  border-image: initial;
  border-radius: 50%;
  animation: 2s linear 0s infinite normal none running loading-spinner-animation;
}

.loading-spinner__content {
  margin-top: 1em;
  text-align: center;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}