{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What do you need help with?
              </h1>
            </legend>
            <!-- <div id="signIn-hint" class="govuk-hint">
              You’ll need an account to prove your identity and complete your Self Assessment
            </div> -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="con" name="need-help-with" type="radio" value="contractual" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="con">
                  I have a contractual related issue
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Landlord legal issues, Eviction, Deposits, Tenant fees, Rent or Pets 
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="main" name="need-help-with" type="radio" value="maintanence" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="main">
                  I have a maintenance or repair related issue
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Internal structural repairs, External structural repairs, Damp and mould, Fire related, Faulty or missing appliances, Pest infestation, Access issues 
                </div>
              </div>
              <!-- <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  I have a behavioural related issue
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Cutting off utilities, Violence or intimidating language from landlord, Harassment from landlord, Character discrimination, Rental discrimination, Landlord opening or withholding post, Entering property without permission, Poor communication, Unfounded or illicit demands or Noise complaints from other tenants  
                </div>
              </div> -->
            </div>
          </fieldset>
        </div>
          <button class="govuk-button" data-module="govuk-button" name="" value="">
            Continue
          </button>
      </form>
    </div>
  </div>

{% endblock %}
