{% extends "layouts/main.html" %}

{% block pageTitle %}
  Additional information – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
          name: "moreInformation",
          id: "moreInformation",
          maxlength: 500,
          label: {
            text: "Please provide more detail about the problem you are having",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Include details about the problem you are having, how long it has been happening, how it’s affecting you and your home, how you have tried to fix it and any other relevant information. This will help us give you the best advice on how to resolve your issue."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
