{% extends "layouts/main.html" %}

{% block pageTitle %}
  Points of touch – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukRadios({
          name: "methodOfContact",
          fieldset: {
            legend: {
              text: "How did you contact your landlord?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "phone",
              text: "Phone (Voice Call)"
            },
            {
              value: "email",
              text: "Email"
            },
            {
              value: "letter",
              text: "Letter"
            },
            {
              value: "in-person",
              text: "In person"
            },
            {
              value: "sms",
              text: "Text Message (SMS, WhatsApp, etc.)"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "dateContacted",
          namePrefix: "dateContacted",
          fieldset: {
            legend: {
              text: "When did you contact your landlord?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2024"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}