{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Contractual
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="contractual-issue" type="checkbox" value="Landlord legal issues">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Landlord legal issues 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="contractual-issue" type="checkbox" value="Eviction">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Eviction 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="contractual-issue" type="checkbox" value="Deposits">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Deposits 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="contractual-issue" type="checkbox" value="Tenant fees">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Tenant fees  
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="contractual-issue" type="checkbox" value="Rent">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Rent   
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="contractual-issue" type="checkbox" value="Pets">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Pets    
                </label>
              </div>
            </div>
          </fieldset>
        </div>
              {{ govukButton({
                text: "Continue"
              }) }}
      </form>
    </div>
  </div>

{% endblock %}
