{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Landlord legal issues
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="landlord-legal-issues" type="checkbox" value="Unlicensed HMO">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Unlicensed HMO 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="landlord-legal-issues" type="checkbox" value="Unlicensed landlord in LA area with selective landlord licensing">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Unlicensed landlord in LA area with selective landlord licensing  
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="landlord-legal-issues" type="checkbox" value="Illegal subletting">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Illegal subletting 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="landlord-legal-issues" type="checkbox" value="Not enrolled in PRS database or redress scheme">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Not enrolled in PRS database or redress scheme   
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="landlord-legal-issues" type="checkbox" value="Prohibited from renting under terms of lease">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Prohibited from renting under terms of lease    
                </label>
              </div>
              <!-- <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Pets    
                </label>
              </div> -->
            </div>
          </fieldset>
        </div>
              {{ govukButton({
                text: "Continue"
              }) }}
      </form>
    </div>
  </div>

{% endblock %}
