{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sign in to your private rental messaging account
      </h1>

      <p>
        If you are a landlord. If you are a tenant. This is the Early Resolution messaging service, which landlords and tenants can use to get the answer to a problem with their rental property.
      </p>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      <form action="handle-login" method="post">

{{ govukInput({
  label: {
    text: "Email address"
  },
  classes: "govuk-!-width-one-half",
  id: "event-name",
  name: "eventName"
}) }}

{{ govukInput({
  label: {
    text: "Password"
  },
  classes: "govuk-!-width-one-half",
  id: "event-name",
  name: "eventName"
}) }}

<p><a href="#">Forgot your password</a></p>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Sign in"
}) }}

</form>

    </div>
  </div>

{% endblock %}
