{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a landlord account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Getting help with a private rental",
      href: "#"
    },
    {
      text: "Create a landlord account",
      href: "#"
    }
  ]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create a landlord account
      </h1>

      <p>The government will introduce a new Private Rented Sector Landlord Ombudsman Service, which all private landlords in England with assured or regulated tenancies will be required by law to join, including those who use a managing agent.</p>

      <p>The Renters’ Rights Bill will introduce a new Private Rented Sector Database. All landlords of assured and regulated tenancies will be legally required to register themselves and their properties on the database and could be subject to penalties if they market or let out a property without registering it and providing the required information.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register your rental property on to the Ministry of Housing, Communities and Local Government (MHCLG) database</li>
        <li>register for the Ombudsman scheme</li>
        <li>add details of your rental property</li>
        <li>add your contact details</li>
        <li>add a tenant’s contact details</li>
      </ul>

      <!-- <p>Registering takes around 5 minutes.</p> -->

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "When you've completed registration, you can message your tenant to resolve an issue or dispute."
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "property-details",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your tenant's email address and mobile phone number</li>
        <li>your tenant's tenancy start date</li>
      </ul>

 

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>
  </div>

{% endblock %}
