{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-xl">Add your tenant’s details</h1>

        <form class="form" method="post">
       
            {% from "govuk/components/input/macro.njk" import govukInput %}
            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukInput({
              label: {
                text: "Tenant’s name"
              },
              id: "event-name",
              name: "eventName"
            }) }}

            {{ govukInput({
              label: {
                text: "Tenant’s email address"
              },
              hint: {
                text: ""
              },
              id: "email",
              name: "email",
              type: "email",
              autocomplete: "email",
              spellcheck: false
            }) }}

            {{ govukInput({
              label: {
                text: "Tenant’s mobile number"
              },
              id: "phone-number",
              name: "phoneNumber",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-input--width-20"
            }) }}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Tenancy start date"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  }
}) }}

            {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

    </div>
  </div>

{% endblock %}
