{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Sprints
    </h2>

    <ul class="govuk-list govuk-list--bullet">
        <li><a href="/prototypes/sprint-00/">Sprint 00</a></li>
        <li><a href="/prototypes/sprint-01/">Sprint 01</a></li>
    </ul>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
